---
layout: default
title: curriculum-vitae
permalink: cv
---

<div class="container animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Curriculum vitae <small><a href="{{site.url}}/assets/pdf/cv.pdf">PDF</a></small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Comp&eacute;tences</h3>
        </div>
        <!-- competences langages -->
        <div class="col-sm-4 col-xs-6">
            <h4>Langages</h4>
            {% for c in site.data.competences['langages'] %}
            <div class="competence-bar progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{c.value}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{c.value}}%">
                    <p>{{c.name}}</p>
                  </div>
            </div>
            {% endfor %}
        </div>
        <!-- competences frameworks -->
        <div class="col-sm-4 col-xs-6">
            <h4>Frameworks / librairies / API</h4>
            {% for c in site.data.competences['frameworks'] %}
            <div class="competence-bar progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{c.value}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{c.value}}%">
                    <p>{{c.name}}</p>
                  </div>
            </div>
            {% endfor %}
        </div>
        <!-- competences divers -->
        <div class="col-sm-4 col-xs-6">
            <h4>Divers</h4>
            {% for c in site.data.competences['divers'] %}
            <div class="competence-bar progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{c.value}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{c.value}}%">
                    <p>{{c.name}}</p>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <!-- expériences de travail -->
        <div class="col-lg-7">
            <h3 class="page-header">Expérience</h3>
            {% for e in site.data.experience %}
            <div class="row">
                <div class="col-md-3">{{e.date}}</div>
                <div class="col-md-8">
                    <strong>{{e.title}}</strong><br />
                    <em>{{e.place}}</em><br />
                    <p class="text-justify">{{e.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Parcours scolaire-->
        <div class="col-lg-4">
            <h3 class="page-header">Parcours scolaire</h3>
            <div class="row">
                <div class="col-md-4">2013 - 2016</div>
                <div class="col-md-8">
                    <strong>Baccalauréat en informatique</strong><br />
                    <em>Université du Québec à Chicoutimi</em><br />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">2011 - 2013</div>
                <div class="col-md-8">
                    <strong>DEC en sciences de la nature</strong><br />
                    <em>Cégep de Baie-Comeau</em><br />
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <!-- Bourses et mentions -->
        <div class="col-lg-7">
            <h3 class="page-header">Bourses et mentions</h3>
            {% for b in site.data.bourses %}
            <div class="row">
                <div class="col-md-3">{{b.year}}</div>
                <div class="col-md-8">
                    <strong>{{b.title}}</strong><br />
                    <em>{{b.giver}}</em><br />
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        <!-- langues parlées et écrites -->
        <div class="col-lg-4">
            <h3 class="page-header">Comp&eacute;tences linguistiques</h3>
            <p><strong>Français:</strong> parlé et écrit</p>
            <p><strong>Anglais:</strong> parlé et écrit</p>
        </div>
    </div>


