<div class="header-wave-ctn">
    {% include svg/header-wave.html %}
</div>
<header class="site-header">
    <div class="site-header-inner site-centerer">
        <div class="menu-btn-ctn">
            <button type="button" class="header-menu-btn">
                <span class="first"></span>
                <span class="second"></span>
                <span class="third"></span>
            </button>
        </div>
    </div>
    <div class="menu-ctn">
        <div class="menu-item-ctn">
            <a class="menu-item" href="/">Accueil</a>
        </div>
        <div class="menu-item-ctn">
            <a class="menu-item" href="/projets">Mes réalisations web</a>
        </div>
        <div class="menu-item-ctn">
            <a class="menu-item">Autres projets (à venir)</a>
        </div>
        <div class="menu-item-ctn">
            <a class="menu-item">Comment me joindre? (à venir)</a>
        </div>
    </div>
</header>