<script type="text/javascript"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Gabrielle</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">À propos <span class="sr-only">(current)</span></a></li>
        <li><a class="page-link" href="{{site.url}}/cv.html">CV</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Réalisations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Projets web</a></li>
            <li><a href="#">Projets jeux vidéo</a></li>
            <li><a href="#">Projets généraux</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Travaux scolaires</a></li>
          </ul>
        </li>
      </ul>
      <!-- search bar goes here -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Langue <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Français</a></li>
            <li><a href="#">Anglais</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- search bar code
<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
      </form>

-->