
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: $text-font;
    font-size: 1.6rem;
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  overflow: hidden;
}


.site-centerer {
    width: $site-width;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;

    @include mq-max-width($screen-xs) {
      padding-right: 4%;
      padding-left: 4%;
    }
}

@include font-face($lato-font, "/assets/fonts/Lato-Regular");
@include font-face($lato-font, "/assets/fonts/Lato-Bold", bold);
@include font-face($lato-font, "/assets/fonts/Lato-Light", 300);