// General
$site-width: 1440px;

// Colors
$yellow: #ffd71f;
$white: #fff;
$black: #000;
$gray-clear: #f6f6f6;
$gray-light: #dadada;
$gray-pale: #bebebe;

$duration-shorter: 100ms;
$duration-short: 300ms;
$duration: 500ms;
$duration-long: 750ms;
$duration-longer: 1000ms;

// Fonts
$lato-font: "Lato";
$text-font: $lato-font, Arial, Helvetica, sans-serif;