button {
    border: 0;
    background: none;
}

.default-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: $yellow;
    color: $white;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color $duration-shorter ease;

    &:hover {
        background-color: darken($color: $yellow, $amount: 12%);
    }

     @include mq-max-width($screen-xs) {
        padding: 10px 24px;
    }
}