nav {
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 4;
}
nav>ul {
	list-style-type: none;
	float: right;
	margin-right: 30px;
}
nav>ul>li {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
}
nav>ul>li>a { 
	text-decoration: none;
	color: white;
}
nav ul>li>a:hover,
nav ul>li>a:focus,
nav ul>li>a:active {
	color: #f26223;
}
nav ul li {
	padding: 0 20px;
	border-right: 1px solid grey;
}
nav ul li:last-child {
	padding-left: 20px;
	padding-right: 0;
	border: 0;
}
nav ul li ul {
	display: none;
}
nav>ul>li ul {
	list-style-type: none;
	position: absolute;
	top: 20px;
	left: -30px;
	z-index: 9;
}
nav>ul>li ul li {
	position: relative;
	background: rgba(24,26,26, 0.7);
	border-bottom: 1px solid #1C1E1E;
	padding: 12px 18px;
	border-right: 0;
}
nav>ul>li ul li a {
	text-decoration: none;
	color: white;
}
nav>ul>li>ul>li>ul {
	position: absolute;
	top: 0;
	right: 100%;
	left: auto;
	z-index: 10;
}
nav>ul>li>ul>li>ul>li {
	background:  rgba(24,26,26, 0.7);
	border-bottom: 1px solid #1C1E1E;
}


.menu-mobile {
	position: absolute;
	top: 12px;
	right: 20px;
	padding: 7px 6px 3px 6px;
	background: rgba(75,75,75,0.85);
	z-index: 5;
	display: none;
	cursor: pointer;
}
.menu-mobile img {
	width: 25px;
	height: 20px;
}
