@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
.navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	margin-right: 2em;
	padding-left: 3em;
}
.navbar a {
	color: white !important;
	border: 0 !important;
}
.navbar ul li ul li a {
	color: #545454 !important;
}
nav.navbar {
	background-color: #7925EC;
}
.navbar-nav > .active > a {
	background-color: #8F49EE !important;
}
.navbar-nav>.open>a {
	background-color: #8F49EE !important;
}
#hamburger {
	border: 0;
	background: transparent;
	color: white;
	font-size: 1.2em
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar ul li ul li a {
		color: #fff !important;
	}
}