@import url(https://fonts.googleapis.com/css?family=Pacifico);
.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 1.6em;
	margin-right: 2em;
	padding-left: 3em;
}
.navbar a {
	color: white !important;
	border: 0 !important;
}
.navbar ul li ul li a {
	color: darkgrey !important;
}
nav.navbar {
	background-color: #7925EC;
}
.navbar-nav > .active > a {
	background-color: #8F49EE !important;
}
.navbar-nav>.open>a {
	background-color: #8F49EE !important;
}