@import url("navbar.css");
@import url("cv.css");
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  border-radius: 0 !important;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #1F1F1F;
}

/* INDEX */
#recent_img {
	border: 1px solid #EFEFEF;
}
#projects-showcase .project-image {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}
#projects-showcase .portfolio-item {
	border: 1px solid #EFEFEF;
}
#techno-list {
	list-style: none;
	text-indent: 0;
}
#techno-list li:before {
    content: "";
    width: .35em;
    height: .35em;
    background-color: #39B0ED;
    float: left;
    margin: .45em .45em 0;
    border-radius: 50%;
}

/* ABOUT */
#contact-list {
	list-style-type: none;
}
.contact-icon {
	width: 16px;
	height: 16px;
}
#presentation-txt strong {
	color: #C3C3C3;
}
