@import url("navbar.css");
@import url("cv.css");
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  border-radius: 0 !important;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #1F1F1F;
}

/* INDEX */
#recent_img {
	border: 1px solid #4D4D4D;
}
#projects-showcase .project-image {
	margin: 10px 0;
	padding: 5px;
	height: 240px;
}
.thumbnail {
	margin: 5px 0;
	background-color: #3D3D3D;
}
#techno-list {
	list-style: none;
	text-indent: 0;
}
#techno-list li:before {
    content: "";
    width: .35em;
    height: .35em;
    background-color: #39B0ED;
    float: left;
    margin: .45em .45em 0;
    border-radius: 50%;
}
.project-title {
	font-size: 1em;
	font-size: 1.5vw;
}
@media only screen and (max-width: 767px) {
   .project-title { font-size: 3vw; }
}
@media only screen and (max-width: 640px) {
	#projects-showcase .project-image { height: 200px; }
}
@media only screen and (max-width: 520px) {
	#projects-showcase .project-image { height: 160px; }
}
@media only screen and (max-width: 400px) {
	#projects-showcase .project-image { height: 128px; }
}

/* REALISATIONS */
#projects-showcase .project-image.realisation {
	height: 200px;
}
@media only screen and (max-width: 995px) {
	#projects-showcase .project-image.realisation { height: 180px; }
}
@media only screen and (max-width: 767px) {
	#projects-showcase .project-image.realisation { height: 230px; }
}
@media only screen and (max-width: 640px) {
	#projects-showcase .project-image.realisation { height: 200px; }
}
@media only screen and (max-width: 520px) {
	#projects-showcase .project-image.realisation { height: 160px; }
}
@media only screen and (max-width: 400px) {
	#projects-showcase .project-image.realisation { height: 128px; }
}

/* ABOUT */
#contact-list {
	list-style-type: none;
}
.contact-icon {
	width: 16px;
	height: 16px;
}
#presentation-txt strong {
	color: #C3C3C3;
}
