@import url("navbar.css");
@import url("cv.css");
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  border-radius: 0 !important;
}
body {
	font-family: 'Roboto', sans-serif;
}

/* INDEX */
#recent_img {
	border: 1px solid #E3E3E3;
}
#projects-showcase .project-image {
	margin-top: 1em;
	margin-bottom: 1em;
}