@media screen and (max-width: 600px) {
	/* Style for menu on mobile */

	.menu-mobile {
		display: inline-block;
	}
	nav {
		min-height: 60px;
		text-align: right;
		display: flex;
		flex-direction: column;
	}
	nav ul {
		display: none;
		margin-top: 12px;
	}
	nav>ul>li {
		display: block;
		border: 0;
		padding: 10px;
		padding-right: 40px;
		margin: 0;
	}
	nav>ul>li:last-child {
		padding-right: 40px;
		border: 0;
	}
	nav>ul>li ul {
		position: static;
		margin-right: 25px;
	}
	nav>ul>li>ul>li {
		background: none;
		border: none;
		padding: 6px 8px;
	}
	nav>ul>li>ul>li:last-child {
		padding-right: 8px;
	}
	nav>ul>li>ul>li>ul {
		position: static;
		padding: 0;
		margin-right: 25px;
	}
	nav>ul>li>ul>li>ul>li {
		background: none;
		border: none;
		padding: 6px 8px;
	}
	nav>ul>li>ul>li>ul>li:last-child {
		padding-right: 8px;
	}

	/* SLIDER SECTION */
	.slider-container {
		padding-top: 50px;
	}
	.slider-container .slider h1 {
		top: 44%;
		left: 17%;
		font-size: 5.5vw;
	}
	.slider-container .slider .arrow-container img {
		width: 20px;
		height: 40px;
	}
	.slider-container .bullets {
		left: 40%;
	}
	/* INFO SECTION */
	.info {
		padding: 35px 40px;
		height: 400px;
	}
	.info .info-text {
		font-size: 0.85em;
	}
	.info #bottom-info-text {
		margin-bottom: 0;
	}
	.info .bottom-info {
		height: 260px;
		padding-top: 0;
	}
	.info .bottom-info .subscribe,
	.info .bottom-info .follow-social {
		width: 100%;
		height: 130px;
		padding-top: 15px;
		padding-left: 40px;
		margin-bottom: 10px;
	}
	.info .bottom-info .subscribe .upper,
	.info .bottom-info .follow-social .upper {
		font-size: 5.8vw;
	}
	.info .bottom-info .subscribe .lower,
	.info .bottom-info .follow-social .lower {
		font-size: 2.7vw;
	}
	.info input[type="email"] {
		width: 40%;
		padding: 10px;
		font-size: 0.75em;
	}
	.info button {
		padding: 8px;
		margin-left: 5px;
		font-size: 0.85em;
	}

	/* FOOTER */
	footer {
		padding: 15px 0;
	}
	footer .contact-links {
		flex-direction: column;
		align-items: center;
		font-size: 0.65em;
	}
	footer .contact-links div .img {
		background-size: 100px auto;
	}
	footer .contact-links .address .img {
		width: 25px;
		margin-top: 12px;
	}
	footer .contact-links .phone .img {
		width: 35px;
		margin-top: -5px;
		background-position-x: -22px;
	}
	footer .contact-links .email .img {
		width: 50px;
		margin-top: -4px;
		background-position-x: -60px;
	}
	footer .copyright {
		font-size: 0.65em;
		font-weight: bold;
	}
}