<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div class="site-container">
        {% include header.html %} 
        
        {% capture pageTitle %}
            {{page.title}}
        {% endcapture %}
        {% capture pageShort %}
            {{page.short}}
        {% endcapture %}
        {% include title-header.html title=pageTitle subtitle=pageShort %}


        <section class="main-content project-detail site-centerer" id="project-detail-main-content-section">
            <div class="project-detail-content-ctn">
                <div class="device-container pc-device-ctn">
                    <div class="device-container-inner">
                        <div class="device-img-ctn">
                            <img src="/assets/img/devices/pc.svg" alt="pc" />
                        </div>
                        <div class="screen-img-ctn" style="background-image:url('{{page.imageDetailFull}}');"></div>
                        <div class="label-ctn">
                            <span class="label">{{page.labelPC}}</span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="device-container tablet-device-ctn">
                    <div class="device-container-inner">
                        <div class="device-img-ctn">
                            <img src="/assets/img/devices/tablet.svg" alt="pc" />
                        </div>
                        <div class="screen-img-ctn" style="background-image:url('{{page.imageDetailTablet}}');"></div>
                        <div class="label-ctn">
                            <span class="label">{{page.labelTablet}}</span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="device-container phone-device-ctn">
                    <div class="device-container-inner">
                        <div class="device-img-ctn">
                            <img src="/assets/img/devices/phone.svg" alt="pc" />
                        </div>
                        <div class="screen-img-ctn" style="background-image:url('{{page.imageDetailMobile}}');"></div>
                        <div class="label-ctn">
                            <span class="label">{{page.labelPhone}}</span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link-label-ctn">
                <a class="link-label" target="_blank" href="{{page.external-url}}">Accéder au site</a>
            </div>
        </section>
        
        {% include footer.html %}
    </div>

    <script type="text/javascript" src="/assets/js/modules/header.js"></script>
    <script type="text/javascript" src="/assets/js/pages/project-detail.js"></script>
</body>

</html>